Code/NodeRed/flows.json
[{"id":"2286059.ed20dfa","type":"tab","label":"Lazareto WaterQualityBuoy","disabled":false,"info":""},{"id":"eb7c8853.5e56e8","type":"mqtt in","z":"2286059.ed20dfa","name":"","topic":"DataBuoy3/Telemetry","qos":"2","datatype":"utf8","broker":"10e78a89.5b4fd5","x":120,"y":160,"wires":[["919fecef.5232c","e2d35251.a266c","5a22d27d.006c7c"]]},{"id":"d92fe92.0bd2718","type":"change","z":"2286059.ed20dfa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.PH","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":220,"wires":[["89ce2f64.d3d8d"]]},{"id":"919fecef.5232c","type":"json","z":"2286059.ed20dfa","name":"","property":"payload","action":"","pretty":false,"x":370,"y":160,"wires":[["d92fe92.0bd2718","5215857e.93d75c","95b7906b.71095","922aa4ab.7f7a48","741376d0.0ca9f8","8df93a3c.d25198","e034fdc8.d4beb","52b28137.fdbb4","44f5a25d.ffee2c","d8b1d760.4e7ad8","ee90ee70.57c16","ec492062.d1e84"]]},{"id":"741376d0.0ca9f8","type":"function","z":"2286059.ed20dfa","name":"","func":"var dateObj = new Date(msg.payload.Epoch_Time * 1000);\n\nvar date=dateObj.getDate();\nvar month=dateObj.getMonth()+1;\nvar year=dateObj.getFullYear();\nvar hours=dateObj.getHours();\nvar minutes=dateObj.getMinutes(); \nvar seconds=dateObj.getSeconds(); \nvar newDate = date+\"/\"+month+\"/\"+year;\nvar time = hours+\":\"+minutes+\":\"+seconds;\n\nvar BatteryVoltage = msg.payload.BatteryVoltage;\n\nvar ORP = msg.payload.ORP;\nvar PH = msg.payload.PH;\nvar DO = msg.payload.DO;\nvar EC = msg.payload.EC;\nvar RTD = msg.payload.RTD;\nvar RSSI = msg.payload.RSSI;\nvar SNR = msg.payload.SNR;\n\nvar Latitude = global.get(\"lat\");\nvar Longitude = global.get(\"lon\");\n\nmsg.topic = \"INSERT INTO DataBuoy3 (Date, Time, BatteryVoltage, ORP, PH, DO, EC, RTD, Latitude, Longitude, RSSI, SNR) VALUES ('\" + newDate + \"', '\" + time + \"', '\" + BatteryVoltage + \"', '\" + ORP + \"', '\" + PH + \"', '\" + DO + \"', '\" + EC +  \"', '\" + RTD + \"', '\" + Latitude + \"', '\" + Longitude + \"', '\" + RSSI + \"', '\" + SNR + \"' )\";\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":780,"wires":[["3aa537fe.aac0a8"]]},{"id":"3aa537fe.aac0a8","type":"mysql","z":"2286059.ed20dfa","mydb":"94ec5fc0.f38da","name":"","x":950,"y":780,"wires":[[]]},{"id":"95b7906b.71095","type":"change","z":"2286059.ed20dfa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.RSSI","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":40,"wires":[["a25a6006.618e6"]]},{"id":"5215857e.93d75c","type":"change","z":"2286059.ed20dfa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.SNR","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":100,"wires":[["c655c7e0.4ea878"]]},{"id":"922aa4ab.7f7a48","type":"change","z":"2286059.ed20dfa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.BatteryVoltage","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":640,"wires":[["391a9ccb.ef1794"]]},{"id":"391a9ccb.ef1794","type":"ui_artlessgauge","z":"2286059.ed20dfa","group":"31c85c36.98ecf4","order":6,"width":6,"height":6,"name":"Battery Voltage","icon":"fa-battery-full","label":"Battery ","unit":"Volts","layout":"radial","decimals":"2","differential":false,"minmax":true,"colorTrack":"#555555","style":"3.3","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"animate":true,"sectors":[{"val":0,"col":"#ff0000","t":"min","dot":0},{"val":2.85,"col":"#e6c700","t":"sec","dot":0},{"val":3,"col":"#098b53","t":"sec","dot":0},{"val":4.2,"col":"#098b53","t":"max","dot":0}],"lineWidth":"13","bgcolorFromTheme":true,"diffCenter":"","x":960,"y":640,"wires":[]},{"id":"3eaff61c.4004fa","type":"ui_artlessgauge","z":"2286059.ed20dfa","group":"9541d6da.981248","order":2,"width":4,"height":4,"name":"PH","icon":"fa-eyedropper","label":"PH","unit":"","layout":"radial","decimals":"2","differential":false,"minmax":true,"colorTrack":"#555555","style":"3.3","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"animate":true,"sectors":[{"val":1,"col":"#d60000","t":"min","dot":0},{"val":3,"col":"#ff8614","t":"sec","dot":0},{"val":6,"col":"#e5f50a","t":"sec","dot":0},{"val":7,"col":"#098b53","t":"sec","dot":0},{"val":11,"col":"#0087db","t":"sec","dot":0},{"val":13,"col":"#4700cc","t":"sec","dot":0},{"val":14,"col":"#4700cc","t":"max","dot":0}],"lineWidth":"13","bgcolorFromTheme":true,"diffCenter":"","x":1350,"y":220,"wires":[]},{"id":"de8a823a.b1f59","type":"function","z":"2286059.ed20dfa","name":"","func":"msg.payload =  [];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":500,"wires":[["d92fe92.0bd2718","922aa4ab.7f7a48","a25a6006.618e6","c655c7e0.4ea878","8df93a3c.d25198","e034fdc8.d4beb","52b28137.fdbb4","1a928c91.eb1ff3","ec492062.d1e84"]]},{"id":"149b286f.e54198","type":"ui_button","z":"2286059.ed20dfa","name":"","group":"2c80af1a.030d9","order":1,"width":1,"height":1,"passthru":true,"label":"Clear","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"clear","topicType":"str","x":250,"y":500,"wires":[["de8a823a.b1f59"]]},{"id":"e2d35251.a266c","type":"trigger","z":"2286059.ed20dfa","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"1","extend":true,"overrideDelay":false,"units":"hr","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":390,"y":920,"wires":[["2896024d.78248e"]]},{"id":"8d7a90f6.d7a91","type":"ui_led","z":"2286059.ed20dfa","order":3,"group":"31c85c36.98ecf4","width":6,"height":1,"label":"Connected","labelPlacement":"right","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":670,"y":860,"wires":[]},{"id":"aeaf7f82.5e662","type":"ui_led","z":"2286059.ed20dfa","order":1,"group":"31c85c36.98ecf4","width":3,"height":1,"label":"GatewayAA","labelPlacement":"right","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":690,"y":1020,"wires":[]},{"id":"2896024d.78248e","type":"function","z":"2286059.ed20dfa","name":"Trigger Alarm","func":"var payload=msg.payload;\nvar alarm_flag=context.get(\"alarm_flag\");\nif(typeof alarm_flag==\"undefined\")\nalarm_flag=false;\n\nif (payload==false && !alarm_flag)\n{\n    alarm_flag=true;\n    msg.alarm=1;\n    context.set(\"alarm_flag\",alarm_flag);\n    return msg;\n}\nif (payload==true && alarm_flag)\n{\n    alarm_flag=false;\n    msg.alarm=0;\n    context.set(\"alarm_flag\",alarm_flag);\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":920,"wires":[["d0efd3c3.12412"]]},{"id":"715a29e4.995068","type":"mqtt in","z":"2286059.ed20dfa","name":"","topic":"GatewayAA_HeartBeat","qos":"2","datatype":"auto","broker":"10e78a89.5b4fd5","x":220,"y":1080,"wires":[["ae8952e.34b49b","58ec1077.e1be7"]]},{"id":"a25a6006.618e6","type":"ui_level","z":"2286059.ed20dfa","group":"31c85c36.98ecf4","order":4,"width":6,"height":2,"name":"RSSI","label":"RSSI","colorHi":"#00b33c","colorWarn":"#ff9900","colorNormal":"#e60000","colorOff":"#595959","min":"-120","max":"0","segWarn":"-100","segHigh":"-70","unit":"","layout":"sh","channelA":"","channelB":"","decimals":"2","animations":"soft","shape":"3","colorschema":"fixed","textoptions":"custom","colorText":"#eeeeee","fontLabel":"1","fontValue":"1","fontSmall":"1","colorFromTheme":true,"textAnimations":true,"hideValue":false,"tickmode":"segments","peakmode":false,"property":"payload","peaktime":3000,"x":970,"y":40,"wires":[]},{"id":"c655c7e0.4ea878","type":"ui_level","z":"2286059.ed20dfa","group":"31c85c36.98ecf4","order":5,"width":6,"height":2,"name":"SNR","label":"SNR","colorHi":"#00b33c","colorWarn":"#ff9900","colorNormal":"#e60000","colorOff":"#595959","min":"-20","max":"10","segWarn":"-15","segHigh":"-7.5","unit":"","layout":"sh","channelA":"","channelB":"","decimals":"2","animations":"soft","shape":"3","colorschema":"fixed","textoptions":"custom","colorText":"#eeeeee","fontLabel":"1","fontValue":"1","fontSmall":"1","colorFromTheme":true,"textAnimations":true,"hideValue":false,"tickmode":"segments","peakmode":false,"property":"payload","peaktime":3000,"x":950,"y":100,"wires":[]},{"id":"5a22d27d.006c7c","type":"trigger","z":"2286059.ed20dfa","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"5","extend":true,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":410,"y":860,"wires":[["8d7a90f6.d7a91"]]},{"id":"ae8952e.34b49b","type":"trigger","z":"2286059.ed20dfa","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"5","extend":true,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":450,"y":1020,"wires":[["aeaf7f82.5e662"]]},{"id":"ee90ee70.57c16","type":"debug","z":"2286059.ed20dfa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":280,"wires":[]},{"id":"a815a136.14c86","type":"ui_led","z":"2286059.ed20dfa","order":2,"group":"31c85c36.98ecf4","width":3,"height":1,"label":"GatewayBB","labelPlacement":"right","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":690,"y":1180,"wires":[]},{"id":"fe5e9571.b99418","type":"mqtt in","z":"2286059.ed20dfa","name":"","topic":"GatewayBB_HeartBeat","qos":"2","datatype":"auto","broker":"10e78a89.5b4fd5","x":220,"y":1240,"wires":[["c0511df4.97e8","2d3c6fae.b39a8"]]},{"id":"c0511df4.97e8","type":"trigger","z":"2286059.ed20dfa","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"5","extend":true,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":450,"y":1180,"wires":[["a815a136.14c86"]]},{"id":"a3206951.bcf2e8","type":"ui_ui_control","z":"2286059.ed20dfa","name":"","events":"all","x":180,"y":980,"wires":[["58ec1077.e1be7","2d3c6fae.b39a8","8571e2a3.4d509"]]},{"id":"58ec1077.e1be7","type":"trigger","z":"2286059.ed20dfa","name":"","op1":"false","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":460,"y":980,"wires":[["aeaf7f82.5e662"]]},{"id":"2d3c6fae.b39a8","type":"trigger","z":"2286059.ed20dfa","name":"","op1":"false","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":460,"y":1140,"wires":[["a815a136.14c86"]]},{"id":"158eb603.c5c7da","type":"http request","z":"2286059.ed20dfa","name":"Get OWM data","method":"GET","ret":"obj","paytoqs":true,"url":"https://api.openweathermap.org/data/2.5/onecall","tls":"","persist":false,"proxy":"","authType":"","x":520,"y":1420,"wires":[["98a07ae8.966988","da06672e.709108"]]},{"id":"8a38f54d.4822f8","type":"inject","z":"2286059.ed20dfa","name":"Trigger","repeat":"600","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":160,"y":1420,"wires":[["9980e422.203ae8"]]},{"id":"3934f94d.ccb6f6","type":"link in","z":"2286059.ed20dfa","name":"","links":["950890af.33afe"],"x":175,"y":1480,"wires":[["9980e422.203ae8"]]},{"id":"d58370cd.48c71","type":"switch","z":"2286059.ed20dfa","name":"tab focus","property":"tab","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":1540,"wires":[["9980e422.203ae8"]]},{"id":"98a07ae8.966988","type":"function","z":"2286059.ed20dfa","name":"Format current data","func":"var icon = {};\n\nvar units=flow.get('units');\nif (units===undefined)\n{\n  units=\"imperial\";\n}\n\nfunction timeConvert(UNIX_timestamp) {\n  var dateObject = new Date(UNIX_timestamp * 1000);\n  if (flow.get('hour12')) {  // 12 hour time format\n    return dateObject.toLocaleString('en', { timezone: msg.payload.timezone, hour12: true, hour: 'numeric', minute: '2-digit'}).toLowerCase();\n  } else {  // 24 hour time format\n    return dateObject.toLocaleString('en', { timezone: msg.payload.timezone, hour12: false, hour: 'numeric', minute: '2-digit'});\n  }      \n}\n\nvar degreesToCardinal = function(deg) {\n  if (deg>11.25 && deg<=33.75){return \"NNE\";}\n  else if (deg>33.75 && deg<56.25){return \"NE\";}\n  else if (deg>56.25 && deg<78.75){return \"ENE\";}\n  else if (deg>78.75 && deg<101.25){return \"E\";}\n  else if (deg>101.25 && deg<123.75){return \"ESE\";}\n  else if (deg>123.75 && deg<146.25){return \"SE\";}\n  else if (deg>146.25 && deg<168.75){return \"SSE\";}\n  else if (deg>168.75 && deg<191.25){return \"S\";}\n  else if (deg>191.25 && deg<213.75){return \"SSW\";}\n  else if (deg>213.75 && deg<236.25){return \"SW\";}\n  else if (deg>236.25 && deg<258.75){return \"WSW\";}\n  else if (deg>258.75 && deg<281.25){return \"W\";}\n  else if (deg>281.25 && deg<303.75){return \"WNW\";}\n  else if (deg>303.75 && deg<326.25){return \"NW\";}\n  else if (deg>326.25 && deg<348.75){return \"NNW\";}\n  else {return \"N\";}\n}\n\nif (units == 'imperial')\n{\n  msg.payload.current.temp = msg.payload.current.temp.toFixed() + ' °F';\n  msg.payload.current.wind_speed = msg.payload.current.wind_speed.toFixed() + ' mph';\n}\nelse  // metric units\n{\n  msg.payload.current.temp = msg.payload.current.temp.toFixed(1) + ' °C';\n  //msg.payload.current.wind_speed = msg.payload.current.wind_speed.toFixed(1) + ' m/s';\n  msg.payload.current.wind_speed = Math.round(msg.payload.current.wind_speed.toFixed(1)) * 3.6 + ' km/h';\n}\n\nmsg.payload.current.wind_cardinal = degreesToCardinal(msg.payload.current.wind_deg);\n\nmsg.payload.current.sunrise = timeConvert(msg.payload.current.sunrise);\nmsg.payload.current.sunset = timeConvert(msg.payload.current.sunset);\n\nvar iconString = 'wi-owm-' + msg.payload.current.weather[0].icon + ' wi-4x';\nicon = {\n    ui_control: {\n        icon: iconString\n    }\n}; \n\nreturn [msg, icon];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":760,"y":1420,"wires":[["55b02999.927858","6dc962f8.08e31c","b810ab01.1be7e8","ce130838.daf688"],["55aa5101.923a1"]]},{"id":"da06672e.709108","type":"function","z":"2286059.ed20dfa","name":"Format forecast data","func":"var units=flow.get('units');\nif (units===undefined)\n{\n  units=\"imperial\";\n}\n\nfunction formatTemp(high, low) {\n    if (units == \"imperial\") {\n        if (low) {\n          temp = parseFloat(high).toFixed() + '/' + parseFloat(low).toFixed() + '°F'\n        }\n        else {\n          temp = parseFloat(high).toFixed() + '°F'\n        }\n    }\n    else {  // metric\n        if (low) {\n          temp = parseFloat(high).toFixed() + '/' + parseFloat(low).toFixed() + '°C'\n        }\n        else {\n          temp = parseFloat(high).toFixed() + '°C'\n        }\n    }\n    return temp;\n}\n\nfunction dayName(unixTime) {\n  var dateObject = new Date(unixTime * 1000);\n  return dateObject.toLocaleString(flow.get('lang'), { timezone: msg.payload.timezone, weekday: 'short'});\n  // If the line above is not producing the correct short weekday names for the language set by 'lang',\n  //   you can try upgrading to NodeJS version 13 or higher (when full international support was added for the toLocaleString function),\n  //   or you can use the code below which is an example for French short weekday names.\n/*  \n  switch (dateObject.toLocaleString('en', { timezone: msg.payload.timezone, weekday: 'short'})) {\n    case 'Mon':\n      return 'Lun';\n    case 'Tue':\n      return 'Mar';\n    case 'Wed':\n      return 'Mer';\n    case 'Thu':\n      return 'Jeu';\n    case 'Fri':\n      return 'Ven';\n    case 'Sat':\n      return 'Sam';\n    case 'Sun':\n      return 'Dim';\n  }\n*/\n}\n\nfunction timeConvert(UNIX_timestamp) {\n  var dateObject = new Date(UNIX_timestamp * 1000);\n  if (flow.get('hour12')) {  // 12 hour time format\n    return dateObject.toLocaleString('en', { timezone: msg.payload.timezone, hour12: true, hour: 'numeric'}).toLowerCase();\n  } else {  // 24 hour time format\n    return dateObject.toLocaleString('en', { timezone: msg.payload.timezone, hour12: false, hour: 'numeric'}) + ':00';\n  }      \n}\n\n\nfor (i=1;i<7;i++) {\n    msg.payload.hourly[i].time = timeConvert(msg.payload.hourly[i].dt);\n    msg.payload.hourly[i].temperature = formatTemp(msg.payload.hourly[i].temp);\n    msg.payload.daily[i].day = dayName(msg.payload.daily[i].dt);\n    msg.payload.daily[i].hilo = formatTemp(msg.payload.daily[i].temp.max, msg.payload.daily[i-1].temp.min);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":1700,"wires":[["a424fa93.98c7b8","66485730.26c048"]]},{"id":"43c21603.849328","type":"ui_ui_control","z":"2286059.ed20dfa","name":"Update tab","events":"all","x":150,"y":1540,"wires":[["d58370cd.48c71"]]},{"id":"55b02999.927858","type":"ui_text","z":"2286059.ed20dfa","group":"285f98a1.3cda78","order":3,"width":4,"height":1,"name":"Wind","label":"","format":"{{msg.payload.current.wind_speed}}&nbsp;&nbsp;<i class=\"wi wi-darksky-wind\"></i>&nbsp;&nbsp;{{msg.payload.current.wind_cardinal}}","layout":"col-center","x":1010,"y":1360,"wires":[]},{"id":"6dc962f8.08e31c","type":"ui_text","z":"2286059.ed20dfa","group":"285f98a1.3cda78","order":4,"width":6,"height":1,"name":"Description","label":"","format":"{{msg.payload.current.weather[0].description}}","layout":"row-center","x":1030,"y":1400,"wires":[]},{"id":"b810ab01.1be7e8","type":"ui_text","z":"2286059.ed20dfa","group":"285f98a1.3cda78","order":5,"width":3,"height":1,"name":"SunriseTime","label":"","format":"<i class=\"wi wi-owm-01d\"></i>&nbsp;<i class=\"fa fa-arrow-up\"></i>&nbsp;&nbsp;{{msg.payload.current.sunrise}}","layout":"row-center","x":1030,"y":1440,"wires":[]},{"id":"55aa5101.923a1","type":"ui_button","z":"2286059.ed20dfa","name":"IconRefresh","group":"285f98a1.3cda78","order":1,"width":2,"height":2,"passthru":false,"label":"","tooltip":"Refresh","color":"","bgcolor":"#333333","icon":"fa-refresh fa-4x","payload":"true","payloadType":"bool","topic":"","topicType":"str","x":1030,"y":1480,"wires":[["950890af.33afe"]]},{"id":"a424fa93.98c7b8","type":"ui_text","z":"2286059.ed20dfa","group":"285f98a1.3cda78","order":6,"width":3,"height":1,"name":"Day1","label":"","format":"<font color=#3393FF>{{msg.payload.daily[1].day}}&nbsp;&nbsp;<i class=\"wi wi-owm-{{msg.payload.daily[1].weather[0].icon}}\"></i>&nbsp;{{msg.payload.daily[1].hilo}}</font>","layout":"row-center","x":1010,"y":1680,"wires":[]},{"id":"66485730.26c048","type":"ui_text","z":"2286059.ed20dfa","group":"285f98a1.3cda78","order":7,"width":3,"height":1,"name":"Day2","label":"","format":"<font color=#3393FF>{{msg.payload.daily[2].day}}&nbsp;&nbsp;<i class=\"wi wi-owm-{{msg.payload.daily[2].weather[0].icon}}\"></i>&nbsp;&nbsp;{{msg.payload.daily[2].hilo}}</font>","layout":"row-center","x":1010,"y":1740,"wires":[]},{"id":"950890af.33afe","type":"link out","z":"2286059.ed20dfa","name":"Refresh","links":["3934f94d.ccb6f6"],"x":1155,"y":1480,"wires":[]},{"id":"474f7568.d8475c","type":"comment","z":"2286059.ed20dfa","name":"OpenWeatherMap One Call API for Weather and Forecast","info":"","x":290,"y":1360,"wires":[]},{"id":"ce130838.daf688","type":"ui_text","z":"2286059.ed20dfa","group":"285f98a1.3cda78","order":2,"width":4,"height":1,"name":"Temperature","label":"","format":"{{msg.payload.current.temp}}","layout":"col-center","x":1030,"y":1320,"wires":[]},{"id":"9980e422.203ae8","type":"change","z":"2286059.ed20dfa","name":"Settings","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.lat","pt":"msg","to":"32.666623012715185","tot":"str"},{"t":"set","p":"payload.lon","pt":"msg","to":"-16.92405161905724","tot":"str"},{"t":"set","p":"payload.appid","pt":"msg","to":"8a56c27627ff3e41556d0b39f09bcec6","tot":"str"},{"t":"set","p":"payload.units","pt":"msg","to":"metric","tot":"str"},{"t":"set","p":"payload.lang","pt":"msg","to":"en","tot":"str"},{"t":"set","p":"hour12","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"units","pt":"flow","to":"payload.units","tot":"msg"},{"t":"set","p":"lang","pt":"flow","to":"payload.lang","tot":"msg"},{"t":"set","p":"payload.exclude","pt":"msg","to":"minutely","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":1420,"wires":[["158eb603.c5c7da"]]},{"id":"8df93a3c.d25198","type":"change","z":"2286059.ed20dfa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.DO","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":280,"wires":[["3b3efccf.d45984"]]},{"id":"1b2e34bb.6e99cb","type":"ui_artlessgauge","z":"2286059.ed20dfa","group":"9541d6da.981248","order":20,"width":4,"height":4,"name":"Dissolved Oxygen","icon":"fa-eyedropper","label":"Dissolved Oxygen","unit":"mg/L","layout":"radial","decimals":"2","differential":false,"minmax":true,"colorTrack":"#555555","style":"3.3","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"animate":true,"sectors":[{"val":0,"col":"#e5f50a","t":"min","dot":0},{"val":100,"col":"#e5f50a","t":"max","dot":0}],"lineWidth":"13","bgcolorFromTheme":true,"diffCenter":"","x":1390,"y":280,"wires":[]},{"id":"e034fdc8.d4beb","type":"change","z":"2286059.ed20dfa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.EC","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":400,"wires":[["865ec83b.a3a568"]]},{"id":"32eb1ae.b0699e6","type":"ui_artlessgauge","z":"2286059.ed20dfa","group":"9541d6da.981248","order":11,"width":4,"height":4,"name":"Conductivity","icon":"fa-eyedropper","label":"Salinity","unit":"ppt","layout":"radial","decimals":"2","differential":false,"minmax":true,"colorTrack":"#555555","style":"3.3","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"animate":true,"sectors":[{"val":0,"col":"#098b53","t":"min","dot":0},{"val":42,"col":"#098b53","t":"max","dot":0}],"lineWidth":"13","bgcolorFromTheme":true,"diffCenter":"","x":1370,"y":400,"wires":[]},{"id":"52b28137.fdbb4","type":"change","z":"2286059.ed20dfa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.RTD","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":520,"wires":[["822ad4e.cd86b28"]]},{"id":"d925a948.65f9c8","type":"ui_artlessgauge","z":"2286059.ed20dfa","group":"b951171.08d5be8","order":1,"width":6,"height":6,"name":"Temperature RTD","icon":"fa-thermometer-full","label":"Water Temperature","unit":"Celsius","layout":"radial","decimals":"2","differential":false,"minmax":true,"colorTrack":"#555555","style":"3.3","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"animate":true,"sectors":[{"val":-200,"col":"#0087db","t":"min","dot":0},{"val":0,"col":"#098b53","t":"sec","dot":0},{"val":200,"col":"#cccc00","t":"sec","dot":0},{"val":400,"col":"#d60002","t":"sec","dot":0},{"val":850,"col":"#d60002","t":"max","dot":0}],"lineWidth":"13","bgcolorFromTheme":true,"diffCenter":"","x":1390,"y":520,"wires":[]},{"id":"1a928c91.eb1ff3","type":"ui_worldmap","z":"2286059.ed20dfa","group":"285f98a1.3cda78","order":10,"width":6,"height":6,"name":"","lat":"32.81821481513622","lon":"-16.722136806713806","zoom":"8.15","layer":"OSM","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"true","panlock":"true","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/worldmap3","x":1150,"y":740,"wires":[]},{"id":"d0efd3c3.12412","type":"function","z":"2286059.ed20dfa","name":"","func":"msg.to=\"Vitor Aguiar\";\nmsg.from=\"vitor.aguiar@iti.larsys.pt\";\n\nvar d = new Date();\nvar message = \"\";\nif(msg.alarm)\n{\n    msg.topic =\"DataBuoy3 (Lazareto WaterQualityBuoy) Connection\";\n    message =\"DataBuoy3 (Lazareto WaterQualityBuoy) lost connection to the server.\";    \n}\nelse\n{\n   msg.topic =\"DataBuoy3 (Lazareto WaterQualityBuoy) Connection\";\n   message =\"DataBuoy3 (Lazareto WaterQualityBuoy) is connected to the connection.\"; \n\n} \nmsg.payload = message + \"\\nTime: \"+ d;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":920,"wires":[["cee38908.c3ab98"]]},{"id":"44f5a25d.ffee2c","type":"function","z":"2286059.ed20dfa","name":"Position","func":"var lat = global.get(\"lat\");\nvar lon = global.get(\"lon\");\n\nvar latGatewayAA = 32.646009161032474;\nvar lonGatewayAA = -16.888684199611642;\n\nvar latGatewayBB = 32.718409661214565;\nvar lonGatewayBB = -17.17158009478152;\n\nif (lat == \"NO DATA\" && lon == \"NO DATA\"){\nmsg.payload = [\n    {name:\"GatewayAA\", lat:latGatewayAA, lon:lonGatewayAA, icon:\"https://img.icons8.com/windows/32/000000/internet-antenna.png\"},\n    {name:\"GatewayBB\", lat:latGatewayBB, lon:lonGatewayBB, icon:\"https://img.icons8.com/windows/32/000000/internet-antenna.png\"}\n]\n} else {\n    msg.payload = [\n    {name:\"Funchal\", lat:lat, lon:lon, icon:\"https://img.icons8.com/windows/50/fa314a/safety-float-1.png\"},\n    {name:\"GatewayAA\", lat:latGatewayAA, lon:lonGatewayAA, icon:\"https://img.icons8.com/windows/32/000000/internet-antenna.png\"},\n    {name:\"GatewayBB\", lat:latGatewayBB, lon:lonGatewayBB, icon:\"https://img.icons8.com/windows/32/000000/internet-antenna.png\"}\n]\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":740,"wires":[["1a928c91.eb1ff3"]]},{"id":"8571e2a3.4d509","type":"change","z":"2286059.ed20dfa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":660,"wires":[["eea8ec47.b455a"]]},{"id":"eea8ec47.b455a","type":"delay","z":"2286059.ed20dfa","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":720,"wires":[["44f5a25d.ffee2c"]]},{"id":"cee38908.c3ab98","type":"e-mail","z":"2286059.ed20dfa","server":"mail.arditi.pt","port":"587","secure":false,"tls":true,"name":"vitor.aguiar@iti.larsys.pt","dname":"Vitor Aguiar","x":1090,"y":920,"wires":[]},{"id":"d8b1d760.4e7ad8","type":"function","z":"2286059.ed20dfa","name":"Position","func":"var lat = msg.payload.Latitude;\nvar lon = msg.payload.Longitude;\n\nif ((lat == undefined && lon == undefined)){\nglobal.set(\"lat\", \"NO DATA\");\nglobal.set(\"lon\", \"NO DATA\");\n} else {\n    \nglobal.set(\"lat\", lat);\nglobal.set(\"lon\", lon);\n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":700,"wires":[[]]},{"id":"c87d36f2.0e6798","type":"ui_artlessgauge","z":"2286059.ed20dfa","group":"b951171.08d5be8","order":2,"width":6,"height":6,"name":"ORP","icon":"fa-eyedropper","label":"Oxidation Reduction Potential","unit":"mV","layout":"radial","decimals":"2","differential":false,"minmax":true,"colorTrack":"#555555","style":"3.3","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"animate":true,"sectors":[{"val":-1019.9,"col":"#0087db","t":"min","dot":0},{"val":-500,"col":"#098b53","t":"sec","dot":0},{"val":0,"col":"#cccc00","t":"sec","dot":0},{"val":500,"col":"#d60002","t":"sec","dot":0},{"val":1019.9,"col":"#d60002","t":"max","dot":0}],"lineWidth":"13","bgcolorFromTheme":true,"diffCenter":"","x":1350,"y":160,"wires":[]},{"id":"5399e198.00e73","type":"function","z":"2286059.ed20dfa","name":"","func":"if ((msg.payload == undefined) || (msg.payload == \"NO DATA\")){\n    msg.payload = null;\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":160,"wires":[["c87d36f2.0e6798"]]},{"id":"89ce2f64.d3d8d","type":"function","z":"2286059.ed20dfa","name":"","func":"if ((msg.payload == undefined) || (msg.payload == \"NO DATA\")){\n    msg.payload = null;\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":220,"wires":[["3eaff61c.4004fa"]]},{"id":"3b3efccf.d45984","type":"function","z":"2286059.ed20dfa","name":"","func":"if ((msg.payload == undefined) || (msg.payload == \"NO DATA\")){\n    msg.payload = null;\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":280,"wires":[["1b2e34bb.6e99cb"]]},{"id":"865ec83b.a3a568","type":"function","z":"2286059.ed20dfa","name":"","func":"if ((msg.payload == undefined) || (msg.payload == \"NO DATA\")){\n    msg.payload = null;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":400,"wires":[["32eb1ae.b0699e6"]]},{"id":"822ad4e.cd86b28","type":"function","z":"2286059.ed20dfa","name":"","func":"if ((msg.payload == undefined) || (msg.payload == \"NO DATA\")){\n    msg.payload = null;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":520,"wires":[["d925a948.65f9c8"]]},{"id":"ec492062.d1e84","type":"change","z":"2286059.ed20dfa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.ORP","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":160,"wires":[["5399e198.00e73"]]},{"id":"10e78a89.5b4fd5","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"94ec5fc0.f38da","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"DataBuoys","tz":"","charset":"UTF8"},{"id":"31c85c36.98ecf4","type":"ui_group","name":"Connectivity","tab":"e02b96bf.c3f748","order":2,"disp":true,"width":"6","collapse":false},{"id":"9541d6da.981248","type":"ui_group","name":"Sensors Pack 1","tab":"e02b96bf.c3f748","order":3,"disp":true,"width":"6","collapse":false},{"id":"2c80af1a.030d9","type":"ui_group","name":"ClearButton","tab":"e02b96bf.c3f748","order":1,"disp":false,"width":1,"collapse":false},{"id":"285f98a1.3cda78","type":"ui_group","name":"Localization Info","tab":"e02b96bf.c3f748","order":7,"disp":true,"width":"6","collapse":false},{"id":"b951171.08d5be8","type":"ui_group","name":"Sensors Pack 2","tab":"e02b96bf.c3f748","order":5,"disp":true,"width":"6","collapse":false},{"id":"e02b96bf.c3f748","type":"ui_tab","name":"Lazareto WaterQualityBuoy","icon":"fa-clock-o","order":3,"disabled":false,"hidden":false}]